<launch>

  <arg name="pipeline" default="ompl" />

  <arg name="db" default="false" />
  <arg name="db_path" default="$(find spot_moveit_config)/default_warehouse_mongo_db" />

  <arg name="debug" default="false" />

  <arg name="load_robot_description" default="true"/>

  <arg name="moveit_controller_manager" default="fake" />
  <arg name="fake_execution_type" default="interpolate" />

  <arg name="use_gui" default="false" />
  <arg name="use_rviz" default="true" />

  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
      <param name="frame_id" value="map" />
      <param name="resolution" value="0.02" />
      <remap from="cloud_in" to="/zed2i/zed_node/point_cloud/cloud_registered" />
  </node>

  <node pkg="tf2_ros" type="static_transform_publisher" name="fngr_to_hand_cam_static"
        args="0.1 0 0 -1.5707 0 -1.5707 arm_link_fngr hand_color_image_sensor" />
        <node name="spot_state_publisher" pkg="spot_operation" type="read_joints_real.py" output="screen" />


  <group if="$(eval arg('moveit_controller_manager') == 'fake')">
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />
  </group>

  <include file="$(dirname)/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="moveit_controller_manager" value="$(arg moveit_controller_manager)" />
    <arg name="fake_execution_type" value="$(arg fake_execution_type)"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="pipeline" value="$(arg pipeline)"/>
    <arg name="load_robot_description" value="$(arg load_robot_description)"/>
  </include>

  <include file="$(dirname)/moveit_rviz.launch" if="$(arg use_rviz)">
    <arg name="rviz_config" value="$(dirname)/moveit.rviz"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <include file="$(dirname)/default_warehouse_db.launch" if="$(arg db)">
    <arg name="moveit_warehouse_database_path" value="$(arg db_path)"/>
  </include>

</launch>