<?xml version="1.0"?>
<launch>
  <arg name="paused" default="false" doc="Iniciar o Gazebo pausado"/>
  <arg name="gui" default="true" doc="Iniciar Gazebo com interface gráfica"/>

  <!-- Iniciar Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="worlds/empty.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- Enviar URDF do Spot para o servidor de parâmetros -->
  <include file="$(find spot_description)/launch/spot_upload.launch"/>

  <!-- Spawn do modelo no Gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model"
      args="-urdf -param robot_description -model spot_robot -x 0 -y 0 -z 0.5 -R 0 -P 0 -Y 0"
      respawn="false" output="screen" />



  <!-- Carregar controladores do Spot -->
  <rosparam file="$(find spot_gazebo)/controller/spot_controller.yaml" command="load"/>
  
  <!-- Iniciar os controladores -->
  <node name="controller_spawner" pkg="controller_manager" type="controller_manager" 
        args="spawn spot_controller" respawn="false" output="screen"/>

  <!-- Carregar outros controladores, se necessário -->
  <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" 
        respawn="false" output="screen" args="load joint_group_position_controller" />

</launch>
